In [1]:
import pandas as pd
import numpy as np

## Import DataSet

In [3]:
df_traintest = pd.read_csv("./orig/train.csv")
df_score = pd.read_csv("./orig/test.csv")

In [4]:
df_traintest.info()
df_score.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2181861 entries, 0 to 2181860
Data columns (total 57 columns):
 #   Column  Dtype
---  ------  -----
 0   ID      int64
 1   X008    float64
 2   X015    object
 3   X022    int64
 4   X029    object
 5   X037    float64
 6   X045    float64
 7   X053    object
 8   X061    int64
 9   X069    object
 10  X070    object
 11  X080    object
 12  X089    object
 13  X094    object
 14  X107    float64
 15  X115    object
 16  X128    float64
 17  X134    object
 18  X146    float64
 19  X155    object
 20  X166    float64
 21  X187    float64
 22  X196    float64
 23  X207    float64
 24  X226    float64
 25  X236    float64
 26  X244    object
 27  X249    object
 28  X256    float64
 29  X260    float64
 30  X273    object
 31  X281    float64
 32  X290    int64
 33  X314    object
 34  X327    float64
 35  X338    float64
 36  X343    object
 37  X354    object
 38  X364    object
 39  X378    float64
 40  X383    object
 41  X398    float64
 42  X401    int64
 43  X415    object
 44  X423    float64
 45  X429    object
 46  X437    float64
 47  X443    float64
 48  X452    object
 49  X462    float64
 50  X475    object
 51  X487    float64
 52  X498    float64
 53  X504    object
 54  X513    object
 55  X526    float64
 56  Target  int64
dtypes: float64(26), int64(6), object(25)
memory usage: 948.8+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 935084 entries, 0 to 935083
Data columns (total 56 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      935084 non-null  int64
 1   X008    935084 non-null  float64
 2   X015    112886 non-null  object
 3   X022    935084 non-null  int64
 4   X029    935084 non-null  object
 5   X037    935084 non-null  float64
 6   X045    935084 non-null  float64
 7   X053    935078 non-null  object
 8   X061    935084 non-null  int64
 9   X069    935084 non-null  object
 10  X070    935084 non-null  object
 11  X080    935084 non-null  object
 12  X089    935084 non-null  object
 13  X094    48083 non-null   object
 14  X107    935084 non-null  float64
 15  X115    80417 non-null   object
 16  X128    935084 non-null  float64
 17  X134    896412 non-null  object
 18  X146    935084 non-null  float64
 19  X155    777682 non-null  object
 20  X166    935084 non-null  float64
 21  X187    935084 non-null  float64
 22  X196    935084 non-null  float64
 23  X207    935084 non-null  float64
 24  X226    935084 non-null  float64
 25  X236    935084 non-null  float64
 26  X244    108034 non-null  object
 27  X249    935084 non-null  object
 28  X256    935084 non-null  float64
 29  X260    935084 non-null  float64
 30  X273    935069 non-null  object
 31  X281    935084 non-null  float64
 32  X290    935084 non-null  int64
 33  X314    935073 non-null  object
 34  X327    935084 non-null  float64
 35  X338    935084 non-null  float64
 36  X343    935080 non-null  object
 37  X354    935084 non-null  object
 38  X364    935063 non-null  object
 39  X378    935084 non-null  float64
 40  X383    935070 non-null  object
 41  X398    935084 non-null  float64
 42  X401    935084 non-null  int64
 43  X415    733832 non-null  object
 44  X423    935084 non-null  float64
 45  X429    935084 non-null  object
 46  X437    935084 non-null  float64
 47  X443    935084 non-null  float64
 48  X452    935084 non-null  object
 49  X462    935084 non-null  float64
 50  X475    340415 non-null  object
 51  X487    935084 non-null  float64
 52  X498    935084 non-null  float64
 53  X504    935083 non-null  object
 54  X513    558405 non-null  object
 55  X526    935084 non-null  float64
dtypes: float64(26), int64(5), object(25)
memory usage: 399.5+ MB

In [5]:
df_traintest.shape

(2181861, 57)

## Convert to feather, and use feather

In [7]:
df_traintest.to_feather("./data/traintest.feather")
df_score.to_feather("./data/score.feather")

## EDA

In [9]:
df_traintest = pd.read_feather("./data/traintest.feather")
df_score = pd.read_feather("./data/score.feather")

df_score.head()

,ID,X008,X015,X022,X029,X037,X045,X053,X061,X069,...,X437,X443,X452,X462,X475,X487,X498,X504,X513,X526
0,0,1.150207,None,1,2010-09-28 02:45:31,1698.841643,5.62,X053_1,0,2017-01-11 04:15:57,...,-0.137916,247.151127,X452_1,154.0,X475_3,6.060012,-2.420035,X504_0,X513_0,2.015299
1,1,1.174188,None,1,2020-01-23 14:16:57,0.028075,8.11,X053_11,0,2012-10-17 16:30:18,...,-0.105483,105873.472028,X452_0,152.0,None,-9.796283,-0.373685,X504_0,X513_0,108.644420
2,2,3.779916,None,1,2024-01-31 21:40:30,0.243752,5.63,X053_0,1,2018-07-11 17:13:39,...,-1.203849,1211.967074,X452_1,26.0,X475_6,-3.514907,-6.417978,X504_0,None,50.651666
3,3,0.598077,None,1,2019-04-02 03:19:44,65.003225,7.16,X053_1,0,2023-12-06 19:37:32,...,-0.007314,4722.057998,X452_0,151.0,None,-0.932311,-1.899726,X504_1,X513_0,3.289323
4,4,0.121325,None,1,2004-09-19 14:11:01,36.664440,17.86,X053_4,0,2009-04-24 23:37:50,...,-0.009493,1436.550453,X452_1,26.0,X475_0,-3.539519,-1.623137,X504_0,X513_0,3.916356

### Missing Values

In [11]:
df_traintest.isna().sum(), df_score.isna().sum()

(ID              0
 X008            0
 X015      1918749
 X022            0
 X029            0
 X037            0
 X045            0
 X053            6
 X061            0
 X069            0
 X070            0
 X080            0
 X089            0
 X094      2070492
 X107            0
 X115      1995015
 X128            0
 X134        90208
 X146            0
 X155       366534
 X166            0
 X187            0
 X196            0
 X207            0
 X226            0
 X236            0
 X244      1929973
 X249            0
 X256            0
 X260            0
 X273           23
 X281            0
 X290            0
 X314           29
 X327            0
 X338            0
 X343           20
 X354            0
 X364           36
 X378            0
 X383           31
 X398            0
 X401            0
 X415       469771
 X423            0
 X429            0
 X437            0
 X443            4
 X452            0
 X462            0
 X475      1386192
 X487            0
 X498            0
 X504            7
 X513       881756
 X526            0
 Target          0
 dtype: int64,
 ID           0
 X008         0
 X015    822198
 X022         0
 X029         0
 X037         0
 X045         0
 X053         6
 X061         0
 X069         0
 X070         0
 X080         0
 X089         0
 X094    887001
 X107         0
 X115    854667
 X128         0
 X134     38672
 X146         0
 X155    157402
 X166         0
 X187         0
 X196         0
 X207         0
 X226         0
 X236         0
 X244    827050
 X249         0
 X256         0
 X260         0
 X273        15
 X281         0
 X290         0
 X314        11
 X327         0
 X338         0
 X343         4
 X354         0
 X364        21
 X378         0
 X383        14
 X398         0
 X401         0
 X415    201252
 X423         0
 X429         0
 X437         0
 X443         0
 X452         0
 X462         0
 X475    594669
 X487         0
 X498         0
 X504         1
 X513    376679
 X526         0
 dtype: int64)

### Datatypes

In [13]:
df_traintest.dtypes

ID          int64
X008      float64
X015       object
X022        int64
X029       object
X037      float64
X045      float64
X053       object
X061        int64
X069       object
X070       object
X080       object
X089       object
X094       object
X107      float64
X115       object
X128      float64
X134       object
X146      float64
X155       object
X166      float64
X187      float64
X196      float64
X207      float64
X226      float64
X236      float64
X244       object
X249       object
X256      float64
X260      float64
X273       object
X281      float64
X290        int64
X314       object
X327      float64
X338      float64
X343       object
X354       object
X364       object
X378      float64
X383       object
X398      float64
X401        int64
X415       object
X423      float64
X429       object
X437      float64
X443      float64
X452       object
X462      float64
X475       object
X487      float64
X498      float64
X504       object
X513       object
X526      float64
Target      int64
dtype: object

## Basic Statistics

In [15]:
df_traintest.describe()

,ID,X008,X022,X037,X045,X061,X107,X128,X146,X166,...,X398,X401,X423,X437,X443,X462,X487,X498,X526,Target
count,2.181861e+06,2.181861e+06,2.181861e+06,2.181861e+06,2.181861e+06,2.181861e+06,2.181861e+06,2.181861e+06,2.181861e+06,2.181861e+06,...,2.181861e+06,2.181861e+06,2.181861e+06,2.181861e+06,2.181857e+06,2.181861e+06,2.181861e+06,2.181861e+06,2.181861e+06,2.181861e+06
mean,1.090930e+06,8.827894e+00,9.984376e-01,3.653505e+05,6.348510e+00,2.893369e-01,-6.346912e+01,1.112017e+01,1.002196e+00,2.979861e+00,...,9.996838e-01,4.023286e+01,1.115827e+01,-6.788941e+01,4.962604e+28,1.041014e+02,4.540083e-01,-8.016786e+00,1.522347e+03,5.001189e-01
std,6.298492e+05,5.136159e+01,3.949667e-02,6.032423e+07,2.700555e+00,4.534547e-01,2.464660e+03,7.620230e+01,1.900723e+00,3.113831e+01,...,1.907702e+00,1.397656e+01,8.097886e+00,5.546095e+03,7.330316e+31,5.579007e+01,3.917684e+00,6.811986e+01,3.425528e+05,5.000001e-01
min,0.000000e+00,7.362606e-05,0.000000e+00,3.205600e-10,0.000000e+00,0.000000e+00,-1.758222e+06,3.017168e-06,-9.763085e+00,7.952383e-06,...,-9.541996e+00,2.000000e+01,0.000000e+00,-4.820682e+06,1.030455e+00,1.000000e+00,-1.969120e+01,-4.719308e+04,6.685514e-09,0.000000e+00
25%,5.454650e+05,4.849365e-01,1.000000e+00,6.793606e-01,4.670000e+00,0.000000e+00,-5.332213e+00,4.887763e-01,-2.463009e-01,9.735117e-02,...,-2.568520e-01,2.700000e+01,4.970000e+00,-2.965010e+00,2.766035e+01,2.600000e+01,-2.131816e+00,-5.428173e+00,4.972103e-01,0.000000e+00
50%,1.090930e+06,1.744167e+00,1.000000e+00,1.618259e+01,5.880000e+00,0.000000e+00,-9.290003e-01,1.892851e+00,1.000929e+00,3.670211e-01,...,9.978564e-01,4.000000e+01,9.650000e+00,-2.958346e-01,3.141907e+02,1.240000e+02,3.148924e-01,-1.852718e+00,3.804028e+00,1.000000e+00
75%,1.636395e+06,5.820199e+00,1.000000e+00,3.708983e+02,7.410000e+00,1.000000e+00,-1.797192e-01,6.407390e+00,2.250160e+00,1.390688e+00,...,2.257601e+00,5.000000e+01,1.564000e+01,-2.841983e-02,3.789540e+03,1.520000e+02,2.839823e+00,-5.551984e-01,2.542027e+01,1.000000e+00
max,2.181860e+06,2.017197e+04,1.000000e+00,4.447472e+10,5.722000e+01,1.000000e+00,-2.503498e-06,2.588795e+04,1.093374e+01,1.672723e+04,...,1.176879e+01,8.500000e+01,1.029000e+02,-6.348856e-09,1.082769e+35,1.630000e+02,2.589876e+01,-5.704132e-05,3.602111e+08,1.000000e+00

In [16]:
### Number of  values in categorical variablesabs

In [17]:
df_cat = df_traintest[[f for f in df_traintest.columns if df_traintest[f].dtype == "object"]]
df_cat.nunique()

X015         21
X029    2178759
X053         62
X069    2178802
X070          2
X080          2
X089    2178769
X094         20
X115         27
X134         37
X155         60
X244         34
X249    2178917
X273         45
X314         59
X343         21
X354          4
X364         51
X383         44
X415         59
X429    2178661
X452          3
X475         48
X504         23
X513         41
dtype: int64

## Proportion of Labels in target Variable

In [19]:
df_traintest["Target"].value_counts()

Target
1    1091190
0    1090671
Name: count, dtype: int64

### Split into test and Train

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
df_train, df_test = train_test_split(df_traintest, stratify=df_traintest["Target"], random_state=42)

## Cleaning and Feature Engineering

### Target

In [25]:
y_train = df_train["Target"]
y_test = df_test["Target"]

In [26]:
df_train = df_train.drop(columns=['ID'])
df_test = df_test.drop(columns=['ID'])
ids_score = df_score["ID"]

In [27]:
df_score = df_score.drop(columns=['ID'])

In [28]:
all_features = []
ignored_features = [ "Target"]
num_features = []
cat_features = []
features= []

In [29]:
all_features = df_train.columns.tolist()
all_features = [f for f in all_features if f not in ignored_features]
print(f"All features are {all_features}, with a length of {len(all_features)}")

All features are ['X008', 'X015', 'X022', 'X029', 'X037', 'X045', 'X053', 'X061', 'X069', 'X070', 'X080', 'X089', 'X094', 'X107', 'X115', 'X128', 'X134', 'X146', 'X155', 'X166', 'X187', 'X196', 'X207', 'X226', 'X236', 'X244', 'X249', 'X256', 'X260', 'X273', 'X281', 'X290', 'X314', 'X327', 'X338', 'X343', 'X354', 'X364', 'X378', 'X383', 'X398', 'X401', 'X415', 'X423', 'X429', 'X437', 'X443', 'X452', 'X462', 'X475', 'X487', 'X498', 'X504', 'X513', 'X526'], with a length of 55

In [30]:
num_features = [f for f in all_features if df_train[f].dtype in ("int64","float64")]

print(f"All Numerical Features are {num_features}, with a length of {len(num_features)}")

All Numerical Features are ['X008', 'X022', 'X037', 'X045', 'X061', 'X107', 'X128', 'X146', 'X166', 'X187', 'X196', 'X207', 'X226', 'X236', 'X256', 'X260', 'X281', 'X290', 'X327', 'X338', 'X378', 'X398', 'X401', 'X423', 'X437', 'X443', 'X462', 'X487', 'X498', 'X526'], with a length of 30

In [31]:
cat_features = [f for f in all_features if df_train[f].dtype =='object' and df_train[f].nunique() < 20]
print(f"All categorical  Features are {cat_features}, with a length of {len(cat_features)}")

All categorical  Features are ['X070', 'X080', 'X094', 'X343', 'X354', 'X452'], with a length of 6

In [32]:
features = num_features + cat_features

skiiped_features = [f for f in all_features if f not in features]
print(f"Skipped features are {skiiped_features}, with a length of {len(skiiped_features)}")

Skipped features are ['X015', 'X029', 'X053', 'X069', 'X089', 'X115', 'X134', 'X155', 'X244', 'X249', 'X273', 'X314', 'X364', 'X383', 'X415', 'X429', 'X475', 'X504', 'X513'], with a length of 19

### Fill Missing Values

In [34]:
for f in num_features:
    if df_train[f].isna().sum() > 0:
        mean = df_train[f].mean()
        df_train[f] = df_train[f].fillna(mean)
        df_test[f] = df_test[f].fillna(mean)
        df_score[f] = df_score[f].fillna(mean)

In [35]:
for f in cat_features:
    if df_train[f].isna().sum() > 0:
        mode = df_train[f].mode()[0]
        df_train[f] = df_train[f].fillna(mode)
        df_test[f] = df_test[f].fillna(mode)
        df_score[f] = df_score[f].fillna(mode)

In [36]:
df_train[features].isna().any(axis=0), df_test[features].isna().sum(), df_score[features].isna().sum()

(X008    False
 X022    False
 X037    False
 X045    False
 X061    False
 X107    False
 X128    False
 X146    False
 X166    False
 X187    False
 X196    False
 X207    False
 X226    False
 X236    False
 X256    False
 X260    False
 X281    False
 X290    False
 X327    False
 X338    False
 X378    False
 X398    False
 X401    False
 X423    False
 X437    False
 X443    False
 X462    False
 X487    False
 X498    False
 X526    False
 X070    False
 X080    False
 X094    False
 X343    False
 X354    False
 X452    False
 dtype: bool,
 X008    0
 X022    0
 X037    0
 X045    0
 X061    0
 X107    0
 X128    0
 X146    0
 X166    0
 X187    0
 X196    0
 X207    0
 X226    0
 X236    0
 X256    0
 X260    0
 X281    0
 X290    0
 X327    0
 X338    0
 X378    0
 X398    0
 X401    0
 X423    0
 X437    0
 X443    0
 X462    0
 X487    0
 X498    0
 X526    0
 X070    0
 X080    0
 X094    0
 X343    0
 X354    0
 X452    0
 dtype: int64,
 X008    0
 X022    0
 X037    0
 X045    0
 X061    0
 X107    0
 X128    0
 X146    0
 X166    0
 X187    0
 X196    0
 X207    0
 X226    0
 X236    0
 X256    0
 X260    0
 X281    0
 X290    0
 X327    0
 X338    0
 X378    0
 X398    0
 X401    0
 X423    0
 X437    0
 X443    0
 X462    0
 X487    0
 X498    0
 X526    0
 X070    0
 X080    0
 X094    0
 X343    0
 X354    0
 X452    0
 dtype: int64)

In [37]:
### Encoding and Scaling

In [38]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

In [39]:
preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), num_features),
        ('cat', OneHotEncoder(handle_unknown='ignore'), cat_features)
    ])

In [40]:
X_train = preprocessor.fit_transform(df_train)
X_test = preprocessor.transform(df_test)
X_score = preprocessor.transform(df_score)

## Model Building

In [42]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, classification_report
from sklearn.metrics import matthews_corrcoef

In [43]:
# clf = DecisionTreeClassifier(random_state=42)
# clf.fit(X_train, y_train)

In [ ]:
from sklearn.ensemble import RandomForestClassifier

model = "rf"
rf = RandomForestClassifier()
rf.fit(X_train, y_train)

In [ ]:
y_pred = clf.predict(X_test)
mcc = matthews_corrcoef(y_test, y_pred)
print("Matthews Correlation Coefficient:", mcc)

In [ ]:
y_score_pred = clf.predict(X_score)

In [ ]:

submission = pd.DataFrame({
    'ID': ids_score,
    'Target': y_score_pred
})

submission.to_csv(f"{model}submission.csv", index=False)